{% extends 'base.html.twig' %}

{% block title %}Редактор жанров{% endblock %}

{% block body %}
    <h1>Редактирование жанра</h1>

    {{ include('genre/_form.html.twig', {'button_label': 'Обновить'}) }}

    <div class="white_space">.</div>

    <a href="{{ path('genre_index') }}" class="nav">Назад к редактору</a>

    <div class="white_space">.</div>

    {{ include('genre/_delete_form.html.twig') }}
{% endblock %}
