{% extends 'base.html.twig' %}

{% block title %}Редактор жанров{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/form.css">
{% endblock %}

{% block body %}
    <h1>Редактирование жанра</h1>

    <form action="{{ path('genre_edit', {'id': genre.id}) }}" method="post">
        <div class="group">
            <label class="dis">Название жанра</label>
            <input type="text" class="input" name="name" required value="{{ genre.name }}">
            <span class="highlight"></span>
            <span class="bar"></span>
        </div>
        <input hidden name="submit">
        <input type="submit" value="Сохранить" class="nav">
    </form>

    <div class="white_space">.</div>

    {{ include('genre/_delete_form.html.twig') }}

    <div class="white_space">.</div>

    <a href="{{ path('genre_index') }}" class="nav">Назад к редактору</a>
{% endblock %}
