{% extends 'base.html.twig' %}

{% block title %}Редактор жанров{% endblock %}

{% block body %}
    <h1>Добавление жанра</h1>

    {{ include('genre/_form.html.twig') }}

    <div class="white_space">.</div>

    <a href="{{ path('genre_index') }}" class="nav">Назад к редактору</a>
{% endblock %}
