{% extends 'base.html.twig' %}

{% block title %}Добавление жанра{% endblock %}

{% block body %}
    <h1>Добавление жанра</h1>

    {{ include('genre/_form.html.twig') }}

    <a href="{{ path('genre_index') }}">назад к редактору</a>
{% endblock %}
