{% extends 'base.html.twig' %}

{% block title %}Редактор признаков{% endblock %}

{% block body %}
    <h1>Редактирование признака</h1>

    {{ include('feature/_form.html.twig', {'button_label': 'Обновить'}) }}

    <a href="{{ path('feature_index') }}">Назад к редактору</a>

    {{ include('feature/_delete_form.html.twig') }}
{% endblock %}
