{% extends 'base.html.twig' %}

{% block title %}Редактор признаков{% endblock %}

{% block body %}
    <h1>Редактирование признака</h1>

    {{ include('feature/_form.html.twig', {'button_label': 'Обновить'}) }}

    <div class="white_space">.</div>

    <a href="{{ path('feature_index') }}" class="nav">Назад к редактору</a>

    <div class="white_space">.</div>

    {{ include('feature/_delete_form.html.twig') }}
{% endblock %}
