{% extends 'base.html.twig' %}

{% block title %}Классификатор{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/answer.css">
    <link href="http://fonts.googleapis.com/css?family=Neucha&subset=cyrillic" rel="stylesheet" type="text/css">
{% endblock %}


{% block body %}
    <h1>Результат классификации</h1>

    <div>
        <ul>
            {% if genres %}
                {% for genre in genres %}
                    <li>
                        <a href="#" class="_a">
                            <h2>Возможный жанр</h2>
                            <p>{{ genre }}</p>
                        </a>
                    </li>
                {% endfor %}
            {% else %}
                <li>
                    <a href="#" class="_a">
                        <h2>Упс ...</h2>
                        <p>Не один жанр не подходит под предложенное описание</p>
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>

    <div>
        <ul>
            {% for genre, expl in explain %}
                <li>
                    <a href="#" class="_a not">
                        <h2>Жанр "{{ genre }}" не подошел</h2>
                        <p>{{ expl }}</p>
                    </a>
                </li>
            {% else %}
                Да вообще хз, если честно 🤖
            {% endfor %}
        </ul>
    </div>

    <a href="{{ path('classifier') }}" class="nav">Назад</a>
{% endblock %}
