{% extends 'base.html.twig' %}

{% block title %}Классификатор{% endblock %}

{% block body %}
    <h1>Результат классификации</h1>

    {% if genres %}
        Возможный(е) жанр(ы):
        {% for genre in genres %}
            {{ genre }} <br>
        {% endfor %}
    {% else %}
        Не один жанр не подходит под предложенное описание <br>
    {% endif %}

    Обоснование: <br>
    {% for item in explain %}
        {{ item }} <br>
    {% else %}
        Да вообще хз, если честно 🤖
    {% endfor %}

    <a href="{{ path('classifier') }}">Назад</a>
{% endblock %}
