html {
    font-family: FreeSerif, serif;
    font-size: 18px;
    margin-left: 7%;
    margin-right: 7%;
    background-color: beige;
    height: 100%;
}

body {
    background-color: #FFFFFF;
    height: 200%;
    padding-top: 0.5%;
    padding-left: 1%;
    padding-right: 1%;
}

a {
    color: darkred;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: black;
}

h1 {
    font-weight: 300;
    font-size: 30px;
    line-height: 120%;
    font-family: 'Open sans', sans-serif;
    letter-spacing: 1px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 0.25rem;
    text-align: left;
    border: 1px solid #ccc;
}

tbody tr:nth-child(odd) {
    background: rgba(222,222,255,0.5);
}

.nav {
    background-color: darkred;
    box-shadow: 0 5px 0 #B0413E;
    color: white;
    padding: 0.3em 0.8em;
    position: relative;
    text-decoration: none;
    font-size: 16px;
}

.nav:hover {
    background-color: #ce0606;
}

.nav:active {
    box-shadow: none;
    top: 1px;
}

.white_space {
    color: #FFFFFF;
}

tbody tr:hover {
    background: #e4dbff;
}

/* Reset Select */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #B0413E;
}
/* Remove IE arrow */
select::-ms-expand {
    display: none;
}
/* Custom Select */
.select {
    position: relative;
    display: flex;
    width: 11em;
    height: 1.5em;
    line-height: 1.6;
    background: #B0413E;
    overflow: hidden;
    border-radius: .25em;
    margin-bottom: 15px;
}
select {
    flex: 1;
    padding: 0 .5em;
    cursor: pointer;
    color: white;
}
/* Arrow */
.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: darkred;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
}
/* Transition */
.select:hover::after {
    color: white;
}
