{% extends 'base.html.twig' %}

{% block title %}Проверка целостности знаний{% endblock %}

{% block body %}
    <h1>Проверка целостности знаний</h1>

    <table class="table" border="2">
        <thead>
        <tr>
            <th>Проблема</th>
            <th>Решение</th>
        </tr>
        </thead>
        <tbody>
        {% for errorItems in report %}
            {% for error in errorItems %}
            <tr>
                <td>{{ error.message }}</td>
                <td>
                    <a href="{{ error.url }}">Решить</a>
                </td>
            </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="3">Проблем не обнаружено</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="white_space">.</div>

    <a href="{{ path('admin') }}" class="nav">Вернуться назад</a>
{% endblock %}
